nicegui_storage_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx # String used for session storage. Can be anything.
database_storage_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx # Generate using https://cryptography.io/en/latest/fernet/#cryptography.fernet.Fernet.generate_key

auth_lifetime_seconds=43200

# Worker seetings
cvr=xxxxxxxx
kombit_cert_path=somewhere/Certificate.pem # Path to cert file to access Kombit api
Kombit_test_env=True

# Registration worker settings
registration_worker_sleep_time=10

# Shipment worker settings
shipment_worker_sleep_time=10
sender_label=Something Corp
path_to_libreoffice=somewhere/LibreOffice/program/soffice.exe

# Message broker settings
message_broker_queue_id=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
message_broker_worker_sleep_time=60

# OIDC settings
client_id=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
client_secret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
discovery_url=https://something-something/.well-known/openid-configuration
redirect_url=https://something-something/auth/callback
jwt_leeway=60
admin_role_name=Administrator
user_role_name=User